.header {
  border-bottom: 1px solid #ffffff1a;

  &__main {
    position: relative;
  }

  &__logo {
    font-family: 'Rotterburg Stylish FREE';
    font-style: normal;
    font-size: 25px;
    line-height: 144.4%;
    text-decoration: none;
    color: #c9ac8c;

    &:hover {
      color: #c9ac8c;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    border-bottom: 2px solid transparent;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 144.4%;
    text-decoration: none;
    color: #fff;
    padding: 29px 0;
    transition: all 0.3s linear;

    &:hover {
      color: #ffffff9d;
      border-bottom: 2px solid #fff;

    }
  }

  &__activ {
    border-bottom: 2px solid #fff;
  }

  &__btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 12px;
  }

  &__avaimg {
    width: 100%;
    object-fit: cover;
  }

  &__btndown {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icondown {
    font-weight: 500;
    font-size: 32px;
    color: #ffffff80;
  }

  //modal

  &__modal {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    z-index: 50;
    animation: Modal 0.6s linear;
  }

  &__modal-list {
    list-style-type: none;
  }

  &__modal-item {
    margin-bottom: 7px;
  }

  &__modal-link {
    background: none;
    border: none;
    font-size: 18px;
    text-decoration: none;
    color: #18130e;
    transition: all 0.4s linear;

    &:hover {
      color: #4d4128;
    }
  }

  &__modal-icon {
    font-size: 20px;
    color: #18130e;
  }

  &__canvas-list {
    list-style-type: none;
    padding-top: 30px;
  }

  &__canvas-item {
    position: relative;
    border-bottom: 1px solid #18130e56;
    padding: 15px;
    margin: 0 10px;
    margin-bottom: 10px;

  }

  &__canvas-imgbox {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  &__canvas-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__canvas-name,
  &__canvas-link {
    font-size: 18px;
    text-decoration: none;
    color: #18130e;
    margin-bottom: 5px;
  }

  &__canvas-comment {
    font-size: 16px;
    color: #18130e;
    margin-bottom: 5px;
  }

  &__canvas-btn {
    position: absolute;
    top: -10px;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: #4d4128;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    transition: all 0.4s linear;

    &:hover {
      background-color: #302b20;
    }
  }
}

@keyframes Modal {
  from {
    top: 100px;
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

.block {
  display: block;
}

.none {
  display: none;
}